 <div class="row">
    <div class="col-sm-3 col-md-7">
<h1>Listing Grades</h1>

<div class="text-right">
	<% if can? :create, Grade %>
	   
		<%= link_to "New Grade", new_grade_path, :class => "btn btn-primary success", :remote => true, "data-toggle"=>"modal", "data-target" => "#myModal_grade",:style=> "padding: 3px 6px; font-size: 14px;" %>
	<%end%>
</div>


  <div class="modal" id="myModal_grade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  >
  </div>
<div style="clear:both">&nbsp;</div>
<table id="grades" class="display table dataTable table-striped table-bordered table-condensed pretty" data-source="<%= grades_url(format: "json") %>" >
  <thead>
    <tr>
      <th style="width: 5%;">S.No </th>
      <th>Grade Name</th>
      <% if can? :update && :destroy, Grade %>
      <th style="width: 5%;">Actions</th>
      <th style="width: 5%;">&nbsp;</th>
      <%end%>
   </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
</div>

<style>

table.pretty {
    width: 100%;
    clear: both;
}
table.pretty th {
    padding: 5px;
    border: 1px solid #fff;
}
table.pretty thead th {
    text-align: center;
    background: #66a9bd;
}
table.pretty tbody th {
    text-align: left;
    background: #91c5d4;
}
table.pretty tbody td {
    text-align: left;
    background: #d5eaf0;
}
 
table.pretty tbody tr.odd td {
    background: #bcd9e1;
}
table.pretty tfoot th {
    background: #b0cc7f;
    text-align: left;
}
 
table.pretty tfoot td {
    background: #d7e1c5;
    text-align: center;
    font-weight: bold;
}

div.dataTables_wrapper {
    background-color: #719ba7;
}
table.pretty tbody td+td{
	text-align: center;
}

</style>

