 <div class="row">
 <div class="col-sm-12">
<h1>Listing Student</h1>

<div class="text-right">
	<% if can? :create, Student %>
		<%= link_to "New Student", new_student_path, :class => "btn btn-primary success", :remote => true, :style=> "padding: 3px 6px; font-size: 14px;" %>
	<%end%>
	
	
</div>
 
  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div> -->
<div style="clear:both">&nbsp;</div>
<table id="students" class="display table dataTable table-striped table-bordered table-condensed pretty" data-source="<%= students_url(format: "json") %>" >
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Roll Number</th>
      <th>Grade</th>
      <th>Father Name</th>
      <th>Mobile Number</th>
      <th>Gender</th>
      <% if can? :update && :destroy, Student %> <th>Actions</th>  <th>&nbsp;</th><%end%>
     
   </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<%= render 'dialog' %>
</div>
</div>

