 <div class="row">
 <div class="col-sm-12">
<h1>Listing Student</h1>

<div class="text-right">
	<% if can? :create, Student %>
		<%= link_to "New Student", new_student_path, :class => "btn btn-primary success" ,"data-target"=>"#dialog_student", :remote=> true,:style=> "padding: 3px 6px; font-size: 14px;" %>
	<%end%>
</div>
 <!-- <button type="button" class="btn btn-primary success" data-toggle="modal" data-target="#dialog_student" style= "padding: 3px 6px; font-size: 14px;">New Student</button> -->
 <!--
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Please Login</h4>
      </div>
      <div class="modal-body">
        <div class="col-xs-8">
          <input type="text" class="form-control" placeholder="user name">
          <input type="password" class="form-control" placeholder="password">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary info">Login</button>
      </div>
    </div>
  </div>
</div> -->
<div style="clear:both">&nbsp;</div>
<table id="students" class="display table dataTable table-striped table-bordered table-condensed pretty" data-source="<%= students_url(format: "json") %>" style="width:100%"%>
  <thead>
    <tr>
      <th style="width: 5%;">S.No </th>
      <th>Student Name</th>
      <th>Roll Number</th>
      <th>Grade</th>
      <th>Father Name</th>
      <th>Mobile Number</th>
      <th>Gender</th>
      <% if can? :update && :destroy, Student %> <th style="width: 5%;">Actions</th style="width: 5%;">  <th>&nbsp;</th><%end%>
     
   </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<%= render 'dialog' %>
</div>
</div>

