 <div class="row">
    <div class="col-sm-12">
<h1>Listing Subjects</h1>

<div class="text-right">
	<% if can? :create, Subject %>
		<%= link_to "New Subject", new_subject_path, :class => "btn btn-primary success", :remote => true,  "data-target" => "#myModal",:style=> "padding: 3px 6px; font-size: 14px;" %>
	<%end%>
</div>


  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
<div style="clear:both">&nbsp;</div>
<table id="subjects" class="display table dataTable table-striped table-bordered table-condensed pretty" data-source="<%= subjects_url(format: "json") %>" >
  <thead>
    <tr>
      <th>Subject Name</th>
      <% if can? :update && :destroy, Subject %>
      <th>Actions</th>
      <th>&nbsp;</th>
      <%end%>
   </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
</div>


