 <div class="row">
 <div class="col-sm-12">
<h1>Listing Teacher</h1>

<div class="text-right">
	<% if can? :create, Teacher %>
		<%= link_to "New Teacher", new_teacher_path, :class => "btn btn-primary success", :remote => true, :style=> "padding: 3px 6px; font-size: 14px;" %>
	<%end%>
</div>
 
  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div> -->
<div style="clear:both">&nbsp;</div>
<table id="teachers" class="display table dataTable table-striped table-bordered table-condensed pretty" data-source="<%= teachers_url(format: "json") %>" >
  <thead>
    <tr>
      <th style="width: 5%;">S.No </th>
      <th>Teacher Name</th>
      <th>Qualification</th>
      <th>Mobile Number</th>
      <% if can? :update && :destory, Teacher %>
      <th style="width: 5%;">Actions</th>
      <th style="width: 5%;">&nbsp;</th>
      <%end%>
   </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<%= render 'dialog' %>
</div>
</div>
