<p id="notice"><%= notice %></p>
``<!-- Begin Content -->
    <div class="container">

     
      <!-- Begin Title Content -->
      <div class="page-title">
        
        
        <div class="section section-testimonials-curriculum quote-div">
          <div id="testimonial-slider" class="flexslider">
            <ul class="testimonials slides">
              <li id="text-7" class="widget_text" style="list-style: none; display: list-item;">
                <div class="textwidget">
                  <h3><%= @teacher.full_name %></h3>
                </div>
              </li>
            </ul><br>
          <%= link_to 'Edit', edit_teacher_path(@teacher) %> |
          <%= link_to 'Back', teachers_path %>
          </div>
        </div>
      </div>
    

      

  <div class="clear"></div>
  <!-- End Footer Widgets -->
